<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
    </div> 
    <div class="modal-body">
      <%= form_with(model: @user, url: attendances_update_overtime_applied_req_user_path(@user), local: true, method: :patch) do |f| %>
       <% @applicants.each do |applicant| %>
         
           <div class="center">
           <h3 class="modal-title">【<%= applicant.name %>からの残業申請】</h3>
           </div>
             <table class="table table-bordered table-condensed table-hover" id="table-attendances">
              <thead>
              <tr>
                <th rowspan="1">日付</th>
                <th rowspan="1">曜日</th>
                <th colspan="3">終了予定時間</th>
                <th colspan="4">指定勤務終了時間</th>
                <th colspan="2">時間外時間</th>
                <th colspan="6">業務処理内容</th>
                <th colspan='3'>支持者確認㊞</th>
                <th colspan="1">変更</th>
                <th colspan="3">勤怠を確認する</th>
              </tr>
            
              </thead>
              
             <tbody>
             <% overtime_attendances = Attendance.where(user_id: applicant.id, overtime_status_req: "申請中", new_instructor: current_user.name) %>
                <% overtime_attendances.each do |day| %>
                  <%= f.fields_for "attendances[]", day do |attendance| %>   
                    <% css_class = case $days_of_the_week[day.worked_on.wday]
                                   when '土'
                                     "saturday_info"
                                   when '日'
                                     "sunday_info"
                                   end %>
                    <tr>
                      <td rowspan="2"><%= l(day.worked_on, format: :short) %></td>
                      <td class="<%= css_class %>" rowspan="2"><%= $days_of_the_week[day.worked_on.wday] %></td>
                      <td colspan="3"><%= l(day.overtime_at, format: :time) %></td>
                      <td colspan="4"><%= format_basic_info(@user.designated_work_end_time) %></td>
                      <td colspan="2"><%= format("%.2f", calc_overtime(day.overtime_at, @user.designated_work_end_time)) %></td>
                      <td colspan='6'><%= day.overtime_note %></td>
                      <td colspan='3'><%= attendance.select :overtime_status_req, [["申請中", "申請中"], ["承認", "承認"], ["否認", "否認"]], include_blank: "選択して下さい" %></td>
                      <td colspan="1"><%= attendance.check_box :chg_permission %></td>
                      <td colspan="3"><%= link_to "確認", show_attendance_status_req_user_path(applicant.id), class: "btn btn-primary" %></td>
                    </tr>
                <% end %> 
             <% end %>
             </tbody>  
             
             </table>
            
       <% end %> 
            <div class="center"> 
            <%= f.submit '変更を送信する', class: "btn btn-lg btn-primary"%> 
            </div>
      <% end %> 
   </div>  
  </div>
</div>
